.bottom-item {
        left: 0;
	    position: fixed;
        bottom: 0;
        /* top 0 就是顶部 */
	    width: 100%;
        z-index: 100;
        background: #343537;
        display: flex;
        justify-content: center;
        color: #ffff;
}