<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TodoList</title>
		<script type="text/javascript" src="../vue.js"></script>
	</head>
	<body>
		
		<!-- 子组件向父组件传值 （完成了 TODO 刪除的功能） -->
		
		<div id="app">
				<input type="text" name="" id="" value="" v-model="inputValue"/> 
				<button type="button" @click="handleBtnClick">提交</button> 
				<!-- v-on:click <=> @click -->
				<!-- v-bind:... <=> :... -->
				<ul>
					<!-- 父组件 给 子组件传值，通过 v-bind 传值，子组件要接收 -->
					<todo-item v-bind:content="item"
							   v-bind:index="index"
							   v-for="(item, index) in list"
							   @delete="handleItemDelete"> 
					</todo-item> 
				</ul>
		</div>
		<script type="text/javascript">
			
			// 子组件 向 父组件传值，通过 $emit 的方式
			var TodoItem = { // 名字大小写一定要注意
				props:['content','index'],   //声明 index 才能使用 index
				template:"<li @click='handleItemClick'>{{content}}</li>",
				methods: {
					handleItemClick: function() {
						//实现删除 子组件的功能，就要向父组件传值，父组件进行监听，就可以完成子组件向 父组件传值的效果
						this.$emit("delete",this.index); // 发出 delete 的组件，父组件要实现监听 （todo-item）
					}
				}
			}
			
			var app = new Vue({
				el: '#app',
				
				// 局部组件注册
				components:{
					TodoItem:TodoItem
				},
				
				data: { 
					list: [],
					inputValue: ''
				},
				methods:{
					handleBtnClick:function() {
						this.list.push(this.inputValue) 
						this.inputValue = '' 
					},
					
					handleItemDelete:function(index) {
						// console.log(index)
						this.list.splice(index,1) // 删除下标元素
					}
				}
			})
		</script>
	</body>
</html>
