<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../vue.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
      </div>

循环变量
      <div id="app-4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
      </div>
      <script type="text/javascript">
      	var app3 = new Vue({
      	    el: '#app-3',
      	    data: {
      	      seen: true
      	    }
      	  })
      	
      	  var app4 = new Vue({
      	      el:"#app-4",
      	      data:{
      	          todos:[
      	              {text:"学习 JavaScript"},
      	              {text:"学习 Python"},
      	              {text:"学习 C++"}
      	          ]
      	      }
      	  })
      </script>
</body>
</html>