<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue 条件渲染</title>
		<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<!-- v-if 1 -->
			<!-- 使用 v-if v-else决定内容是否显示 -->
<!-- 			<div v-if="show" data-test="v-if">{{msg}}</div>
			<div v-else >Bye World</div> -->
			<!-- v-show 数据会被渲染，但是 display 的属性为 None -->
			
			<!-- <div v-show="show" data-test = "v-show">{{msg}}</div> -->
			
			<!-- v-if 2 -->
			<div v-if="show === 'a'">这是a</div>
			<div v-else-if="show === 'b'">这是b</div>
			<div v-else >这是其他</div>
			
			<!-- 在 vue 中的 dom 設置一個 key 相當於一個唯一的值，這樣就會減少復用的情況 -->
		</div>
	
		<script type="text/javascript">
			var vm = new Vue({
				el:"#app",
				data:{
					// v-if 1
					// show:false,
					// msg:"Hello World"
					
					// v-if 2
					show:"a",
				}
			})
		</script>
	</body>
</html>
