<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>简易计算器</title>
	</head>
	<script type="text/javascript" src="../../vue.min.js"></script>
	<body>
		<!-- html 代码实现建议的运算器，其实用 js 也可以实现加减法的处理，实现逻辑是一样的 -->
		<div id="div1">
			<!-- v-model用于表单数据的双向绑定，其实它就是一个语法糖，v-model的数据获取实时的信息 -->
			<input type="text" name="被处理数" id="" size="1" value="" v-model="n1"/>
			<select name = "myselect" v-model="opt">
				<option value ="+">+</option>
				<option value ="-">-</option>
				<option value ="*">*</option>
				<option value ="/">/</option>
			</select>
			<input type="text" name="处理数" id="" value="" size="1" v-model="n2"/>
			<input type="button" name="" id="" value="=" @click="calc()"/>
			<input type="text" name="result" id="" value="" size="1" v-model="result"/>
		</div>
		
		<!-- JS 部分语法 -->

		<script type="text/javascript">
			var vm = new Vue({
				el:"#div1", // 元素 element div 标签
				// 数据初始化
				data:{
					n1:null,
					n2:null,
					result:null,
					opt:"+" //  默认是加法
				},
				
				// 编写 计算的器的逻辑实现
				methods:{
					//在 methods 中,可以通过 this 关键字,获取data 中的数据
					calc(){
						let num1 = parseInt(this.n1);
						let num2 = parseInt(this.n2);
						switch(this.opt){
							case "+":
								this.result = num1 + num2;
								break;
							case "-":
								this.result = num1 - num2;
								break;
							case "*":
								this.result = num1*num2;
								break;
							case "/":
								this.result = num1/num2;
								break;
						}
					}
				}
			})
		</script>
	</body>
</html>
