<!--
Created Date: Wednesday, November 8th 2023, 3:38:37 pm
Author: CodingGorit
Contact: javafullstack2021@163.com
-----
Last Modified: Wed Nov 08 2023
Modified By: CodingGorit
-----
Copyright © 2019 —— 2023 fmin-courses TP Center All Rights Reserved
------------------------------------
Hello World
-->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    
    <script src="./script.js" ></script>
</body>
</html>