<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue 之列表渲染</title>
		<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			
			<!--  第一部分 列表循环
				v-for = "(item,index) in list" 
				v-for = "(item,index) of list" 
			-->
<!-- 			<div v-for="(item,index) of list" 
				 :key="index">{{index}}--{{item}}</div> -->
			
			<!-- 可以使用 template 作为最外层的 div 来循环元素，这样可以减少一层 div 元素  -->
		
		
			<!-- 第二部分，对象的循环, 如果直接加内容，我们可以使用 对象的引用的方式直接改 dom -->
			<div v-for="(item,key,index) of userInfo">
				{{item}} ---- {{key}} ---- {{index}}
			</div>
			
			<!-- 第三部分 动态添加内内 Vue.set() 方法改变动态的内容 -->
			<!--Vue 的全局方法 Vue.set(vm.userInfo,"address","beijing") -->
			<!-- Vue 的实例方法 vm.$set(vm.userInfo,"address","beijing") -->
		
		</div>
		
		<script type="text/javascript">
			// 改变数据的内容第一种方式： push pop shift unshift splice reverse 
			// splice(删除的下标，删除的个数，替换的元素)
			
			// 改变数据的第二种方式是使用引用，直接将数组内容全部重新赋值为 一个新的数组
			
			// 第三种方法改变数据 Vue.set(vm.userInfo,1,5) 第一个参数为操作的对象，第二个参数为操作元素的下标位置，第三个位修改后的值
			// 实例方法修改: vm.$set(xxx,xxx,xxx)
			
			/**
			 * 总结
			 *  修改数组中元素的方法有三种
			 * 1. 7 中遍历方法
			 * 2. 改变引用，修改内存引用的位置
			 * 3. 使用 set 方法
			 */
			var vm = new Vue({
				el:"#app",
				data:{
					// list: ['书','笔','墨']
					
					// 方法二 遍历对象
					// userInfo: {
					// 	name:"go",
					// 	age:28,
					// 	gender:"male",
					// 	salary:"secret"
					// }
					
					// 方法三 遍历数组
					userInfo:[1,2,3,4]
				}
			})
		</script>
	</body>
</html>
